<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    
        <title>Finstagram</title>
    </head>
    <body>
        <header> 
            <h1>
                <a class="awesome" href="/">Finstagram</a>
            </h1>
                <div class="login-info">
                    <% if current_user %>
                      <%= current_user.username %>
                      <a href="/logout">Logout</a>
                    <% else %>
                      <a href="/login">Login</a>
                      <a href="/signup">Signup</a>
                    <% end %>
                
                    <div class="circle-wrapper">
                        <div class="bubble"></div>
                    </div>
                </div>
        </header>
        <main role="main">
            <%= yield %>
        </main>
        
        <footer> 
        <div class="sea">
                            <div class="circle-wrapper">
                                <div class="bubble"></div>
                                <div class="submarine-wrapper">
                                <div class="submarine-body">
                                    <div class="window"></div>
                                    <div class="engine"></div>
                                    <div class="light"></div>
                                </div>
                                <div class="helix"></div>
                                <div class="hat">
                                    <div class="leds-wrapper">
                                        <div class="periscope">
                                </div>
                                        <div class="leds"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
        </footer>
    </body>
</html>